{% if page.level > 0 %}
{% assign home = page.parent %}
{% else %}
{% assign home = page %}
{% endif %}

{% if home.has_subnav? and page.is_nav? %}


<div id="page-nav" class="page-nav">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /> <span class="divider">/</span></li>
    {% for ancestor in page.ancestors %}
    {% if ancestor.is_homepage? == false %}
    {% if forloop.last %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item"  href="{{ ancestor.url }}"><span itemprop="name">{{ ancestor.name }}</span></a><meta itemprop="position" content="3" /></li>
    {% else %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item"  href="{{ ancestor.url }}"><span itemprop="name">{{ ancestor.name }}</span></a><meta itemprop="position" content="2" /> <span class="divider">/</span></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>


{% elsif page.has_parent? %}

<div id="page-nav" class="page-nav">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs" class="breadcrumbs">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /> <span class="divider">/</span></li>
    {% for ancestor in page.ancestors %}
    {% if ancestor.is_homepage? == false %}
    {% if forloop.last %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item"  href="{{ ancestor.url }}"><span itemprop="name">{{ ancestor.name }}</span></a><meta itemprop="position" content="3" /></li>
    {% else %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item"  href="{{ ancestor.url }}"><span itemprop="name">{{ ancestor.name }}</span></a><meta itemprop="position" content="2" /> <span class="divider">/</span></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>

{% if page.has_subnav? %}

<div class="subnav-container clearfix" id="subnav-container" role="navigation">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs" class="subnav">
    {% for child in page.nav_children %}
    {% if child.leaf? or child.nav_children.size == 0 %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="{% if child.is_or_is_ancestor_of_current_page? %}active{% else %}nodrop{% endif %}">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ child.url }}"><span itemprop="name">{{ child.name }}</span></a><meta itemprop="position" content="1" />
    </li>
    {% else %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="{% if child.is_or_is_ancestor_of_current_page? %}active-drop{% else %}drop{% endif %}">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ child.url }}"><span itemprop="name">{{ child.name }}</span> <i class="icon-angle-down"></i></a><meta itemprop="position" content="1" />
      <ul class="sub">
        {% for child2 in child.nav_children %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ child2.url }}"><span itemprop="name">{{ child2.name }}</span></a><meta itemprop="position" content="2" /></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

{% endif %}

{% endif %}
