<div class="padtopmore padbottommore"></div>
<div class="row-fluid">
  <div class="span9">
    <h3>Next Events</h3>
  </div>
  <div class="span3 pull-right">
    <a href="https://www.google.com/calendar/render?cid=communityservice@rpcvw.org" class="small_button right">Sync w/ Google Calendar<i class="fa fa-refresh padleft" aria-hidden="true"></i></a>
  </div>
</div>
<hr>
<h4>
  <a href="{{ page.url }}">{% if page.calendar.events_upcoming_count == 0 %}No official events posted, check back soon!{% else %} We have {{ page.calendar.events_upcoming_count }} official event{% if page.calendar.events_upcoming_count > 1 %}s{% endif %}</a> and <a href="/member_led_events">{% subpage "member_led_events" with "member_led_events_count" %}</a> coming up{% endif %}
</h4>
<h5 class="padtopmore padbottommore">
  View <a href="/past_events" id="past_events">past events</a> or <a href="/contact">contact us</a> to send an event suggestion
</h5>

{% if page.calendar.events_upcoming_count > 0 %}
{{ page.calendar.events_upcoming_map }}
{% endif %}

<ul class="event-wrap">
  {% for event in page.calendar.events_upcoming limit:3 offset:0 %}
  <li>{% include "event" %}</li>
  {% endfor %}
</ul>

{% if page.calendar.events_upcoming_count > 3 %}
<a class="event-teaser button supporter-nav-button" href="{{ page.url }}"><h5>Plus {{ page.calendar.events_upcoming_count | minus:3 }} more!</h5></a>
{% endif %}

<div class="padtopmore padbottommore"></div>

{% subpage "member_led_events" with "homepage_member_led_event_subwidget" %}